<div class="card text-white w-75 bg-dark">
    <div class="card-body">
      <h5 class="card-title">Equipo 5</h5>
      <p class="card-text">Profesor: Ivan Eduardo Garcia Quintero</p>
      <p class="card-text">Desarrollo de Aplicaciones Web</p>
      <p class="card-text">9"A"</p>
      <div class="card-group">
        <div class="card text-white bg-secondary mb-3">
          <img src="https://i.ibb.co/p18hZ9j/27845921-0d1b-4066-8985-538643bb9195.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Javier Cardoso Dominguez</h5>
            <p class="card-text">Carrera: Ing. Tecnologias de la Informacion, area Desarrollo web.</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="https://i.ibb.co/BGqGfLs/586d5a5a-9749-4796-b011-5b64cd5b442f.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Eduardo Castillo Moreno</h5>
            <p class="card-text">Carrera: Ing. Tecnologias de la Informacion, area Desarrollo web.</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="https://i.ibb.co/px8nGxT/25e09c7b-2e1e-4cb2-a432-8a8f84e42178.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">José Saúl Sampayo Amador</h5>
            <p class="card-text">Carrera: Ing. Tecnologias de la Informacion, area Desarrollo web.</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="https://i.ibb.co/dQN3bNg/f1ed4941-5926-48ba-a2b7-6ef66ecd0d90.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">José Bonifacio Hernández Beatriz</h5>
            <p class="card-text">Carrera: Ing. Tecnologias de la Informacion, area Desarrollo web.</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <img src="https://i.ibb.co/2g0XWdz/2d085c82-d433-440f-ab09-8642f0ff3509.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Yahaira Ines Valencia Vargas</h5>
            <p class="card-text">Carrera: Ing. Tecnologias de la Informacion, area Desarrollo web.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

    </div>
  </div>


  ../assets/img/Javier12.jpg