
<br>
<h1>Aquí encuentra las mejores marcas de ropa. <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-brightness-high" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
</svg></h1>

<br>
<div class="card text-black w-100 bg-white">
    

    <div class="card-body">
      <div class="card-group">
        <div class="card text-black bg-white mb-3">
          <img src="../assets/img/blusa.jpg" class="card-img-top" alt="...">
          
          <div>
            <h3 class="title">
                <a>
                    Blusa Negra 
                </a>
            </h3>
        </div>
        
        <span class="price">
                            <span class="newprice text-center">
                $129.00 MXN
            </span>
            </span>
            <div class="add-to-cart" style="z-index:1;">
                <div style="float: left;
                width: 50%;
                min-height: 25px;
                text-align: center;">
                <select class="product-preview-select-size" id="skus_25762" tabindex="0">
                <option value="0">Tallas</option>
                                                                                                                        <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                            </select>
                </div>
                <div style="float: left;
                width: 50%;
                min-height: 25px;
                border: 0;
                text-align: center;
                font-size: 12px">
                <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
                cursor: pointer;
                width: 100%;
                color: #fff;
                background: #000;
                padding: 5px 10px;
                letter-spacing: .4px;
                border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
                <span>Agregar</span>
                </button>
                </div>
                </div>
        </div>


        <div class="card text-black bg-white mb-3">
          <img src="../assets/img/cinturon.jpg" class="card-img-top" alt="...">
         
        <div>
          <h3 class="title">
              <a>
                  Cinturón
              </a>
          </h3>
      </div>
      
      <span class="price">
                          <span class="newprice text-center">
              $89.00 MXN
          </span>
          </span>
          <div class="add-to-cart" style="z-index:1;">
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            text-align: center;">
            <select class="product-preview-select-size" id="skus_25762" tabindex="0">
            <option value="0">Tallas</option>
                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                        </select>
            </div>
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            border: 0;
            text-align: center;
            font-size: 12px">
            <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
            cursor: pointer;
            width: 100%;
            color: #fff;
            background: #000;
            padding: 5px 10px;
            letter-spacing: .4px;
            border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
            <span>Agregar</span>
            </button>
            </div>
            </div>
      </div>
        <div class="card text-black bg-white mb-3">
          <img src="../assets/img/playera.jpg" class="card-img-top" alt="...">
         
        <div>
          <h3 class="title">
              <a>
                  Playera 
              </a>
          </h3>
      </div>
      
      <span class="price">
                          <span class="newprice text-center">
              $29.00 MXN
          </span>
          </span>
          <div class="add-to-cart" style="z-index:1;">
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            text-align: center;">
            <select class="product-preview-select-size" id="skus_25762" tabindex="0">
            <option value="0">Tallas</option>
                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                        </select>
            </div>
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            border: 0;
            text-align: center;
            font-size: 12px">
            <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
            cursor: pointer;
            width: 100%;
            color: #fff;
            background: #000;
            padding: 5px 10px;
            letter-spacing: .4px;
            border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
            <span>Agregar</span>
            </button>
            </div>
            </div>
      </div>
        <div class="card text-black bg-white mb-3">
          <img src="../assets/img/camisa-jpg.jpg" class="card-img-top" alt="...">
          
        <div>
          <h3 class="title">
              <a>
                  Camisa
              </a>
          </h3>
      </div>
      
      <span class="price">
                          <span class="newprice text-center">
              $889.00 MXN
          </span>
          </span>
          <div class="add-to-cart" style="z-index:1;">
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            text-align: center;">
            <select class="product-preview-select-size" id="skus_25762" tabindex="0">
            <option value="0">Tallas</option>
                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                        </select>
            </div>
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            border: 0;
            text-align: center;
            font-size: 12px">
            <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
            cursor: pointer;
            width: 100%;
            color: #fff;
            background: #000;
            padding: 5px 10px;
            letter-spacing: .4px;
            border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
            <span>Agregar</span>
            </button>
            </div>
            </div>
      </div>
      <div class="card text-black bg-white mb-3">
        <img src="../assets/img/nn.jpg" class="card-img-top" alt="...">
        
      <div>
        <h3 class="title">
            <a>
               Conjunto
            </a>
        </h3>
    </div>
    
    <span class="price">
                        <span class="newprice text-center">
            $1209.00 MXN
        </span>
        </span>
        <div class="add-to-cart" style="z-index:1;">
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            text-align: center;">
            <select class="product-preview-select-size" id="skus_25762" tabindex="0">
            <option value="0">Tallas</option>
                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                        </select>
            </div>
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            border: 0;
            text-align: center;
            font-size: 12px">
            <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
            cursor: pointer;
            width: 100%;
            color: #fff;
            background: #000;
            padding: 5px 10px;
            letter-spacing: .4px;
            border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
            <span>Agregar</span>
            </button>
            </div>
            </div>
    </div>
    <div class="card text-black bg-white mb-3">
        <img src="../assets/img/guarda.jpg" class="card-img-top" alt="...">
        
      <div>
        <h3 class="title">
            <a>
                Outfit completo
            </a>
        </h3>
    </div>
    
    <span class="price">
                        <span class="newprice text-center">
            $1259.00 MXN
        </span>
        </span>
        <div class="add-to-cart" style="z-index:1;">
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            text-align: center;">
            <select class="product-preview-select-size" id="skus_25762" tabindex="0">
            <option value="0">Tallas</option>
                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                        </select>
            </div>
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            border: 0;
            text-align: center;
            font-size: 12px">
            <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
            cursor: pointer;
            width: 100%;
            color: #fff;
            background: #000;
            padding: 5px 10px;
            letter-spacing: .4px;
            border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
            <span>Agregar</span>
            </button>
            </div>
            </div>
    </div>
      </div>
    </div>
  </div>

  <div class="card text-black w-100 bg-white">
    <div class="card-body">
      <div class="card-group">
        <div class="card text-black bg-white mb-3">
          <img src="../assets/img/gris.jpg" class="card-img-top" alt="...">
          
          <div>
            <h3 class="title">
                <a>
                    Camisa gris
                </a>
            </h3>
        </div>
        
        <span class="price">
                            <span class="newprice text-center">
                $569.00 MXN
            </span>
            </span>
            <div class="add-to-cart" style="z-index:1;">
                <div style="float: left;
                width: 50%;
                min-height: 25px;
                text-align: center;">
                <select class="product-preview-select-size" id="skus_25762" tabindex="0">
                <option value="0">Tallas</option>
                                                                                                                        <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                            </select>
                </div>
                <div style="float: left;
                width: 50%;
                min-height: 25px;
                border: 0;
                text-align: center;
                font-size: 12px">
                <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
                cursor: pointer;
                width: 100%;
                color: #fff;
                background: #000;
                padding: 5px 10px;
                letter-spacing: .4px;
                border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
                <span>Agregar</span>
                </button>
                </div>
                </div>
        </div>


        <div class="card text-black bg-white mb-3">
          <img src="../assets/img/traje.jpg" class="card-img-top" alt="...">
          
        <div>
          <h3 class="title">
              <a>
                 Traje 
              </a>
          </h3>
      </div>
      
      <span class="price">
                          <span class="newprice text-center">
              $589.00 MXN
          </span>
          </span>
          <div class="add-to-cart" style="z-index:1;">
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            text-align: center;">
            <select class="product-preview-select-size" id="skus_25762" tabindex="0">
            <option value="0">Tallas</option>
                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                        </select>
            </div>
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            border: 0;
            text-align: center;
            font-size: 12px">
            <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
            cursor: pointer;
            width: 100%;
            color: #fff;
            background: #000;
            padding: 5px 10px;
            letter-spacing: .4px;
            border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
            <span>Agregar</span>
            </button>
            </div>
            </div>
      </div>
        <div class="card text-black bg-white mb-3">
          <img src="../assets/img/camisa2020.jpg" class="card-img-top" alt="...">
          
        <div>
          <h3 class="title">
              <a>
                  Camisa 
              </a>
          </h3>
      </div>
      
      <span class="price">
                          <span class="newprice text-center">
              $596.00 MXN
          </span>
          </span>
          <div class="add-to-cart" style="z-index:1;">
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            text-align: center;">
            <select class="product-preview-select-size" id="skus_25762" tabindex="0">
            <option value="0">Tallas</option>
                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                        </select>
            </div>
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            border: 0;
            text-align: center;
            font-size: 12px">
            <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
            cursor: pointer;
            width: 100%;
            color: #fff;
            background: #000;
            padding: 5px 10px;
            letter-spacing: .4px;
            border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
            <span>Agregar</span>
            </button>
            </div>
            </div>
      </div>
        <div class="card text-black bg-white mb-3">
          <img src="../assets/img/rojo.jpg" class="card-img-top" alt="...">
          
        <div>
          <h3 class="title">
              <a>
                  Vestido rojo ardiente
              </a>
          </h3>
      </div>
      
      <span class="price">
                          <span class="newprice text-center">
              $569.00 MXN
          </span>
          </span>
          <div class="add-to-cart" style="z-index:1;">
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            text-align: center;">
            <select class="product-preview-select-size" id="skus_25762" tabindex="0">
            <option value="0">Tallas</option>
                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                        </select>
            </div>
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            border: 0;
            text-align: center;
            font-size: 12px">
            <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
            cursor: pointer;
            width: 100%;
            color: #fff;
            background: #000;
            padding: 5px 10px;
            letter-spacing: .4px;
            border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
            <span>Agregar</span>
            </button>
            </div>
            </div>
      </div>
      <div class="card text-black bg-white mb-3">
        <img src="../assets/img/saw.jpg" class="card-img-top" alt="...">
        
      <div>
        <h3 class="title">
            <a>
               Saco
            </a>
        </h3>
    </div>
    
    <span class="price">
                        <span class="newprice text-center">
            $569.00 MXN
        </span>
        </span>
        <div class="add-to-cart" style="z-index:1;">
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            text-align: center;">
            <select class="product-preview-select-size" id="skus_25762" tabindex="0">
            <option value="0">Tallas</option>
                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                        </select>
            </div>
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            border: 0;
            text-align: center;
            font-size: 12px">
            <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
            cursor: pointer;
            width: 100%;
            color: #fff;
            background: #000;
            padding: 5px 10px;
            letter-spacing: .4px;
            border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
            <span>Agregar</span>
            </button>
            </div>
            </div>
    </div>
    <div class="card text-black bg-white mb-3">
        <img src="../assets/img/co.jpg" class="card-img-top" alt="...">
        
      <div>
        <h3 class="title">
            <a>
                Kit 2020
            </a>
        </h3>
    </div>
    
    <span class="price">
                        <span class="newprice text-center">
            $1520.00 MXN
        </span>
        </span>
        <div class="add-to-cart" style="z-index:1;">
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            text-align: center;">
            <select class="product-preview-select-size" id="skus_25762" tabindex="0">
            <option value="0">Tallas</option>
                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                        </select>
            </div>
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            border: 0;
            text-align: center;
            font-size: 12px">
            <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
            cursor: pointer;
            width: 100%;
            color: #fff;
            background: #000;
            padding: 5px 10px;
            letter-spacing: .4px;
            border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
            <span>Agregar</span>
            </button>
            </div>
            </div>
    </div>
      </div>
    </div>
  </div>



