.estilos-text-danger {
	color:#FF130D;
	padding: 10px 8px 10px 10%;
    font-weight: 700;
}
.estilos-password {
	border: 1px solid #d6d4d4;
}

.estilos-number {
	float: left;
	border: 1px solid #d6d4d4;
	margin-right: 5px;
}

.estilos-numpad {
	margin-left: -2px;
    width: auto;
}

.estilos-numpad td {
	padding: 2px;
}

.page-order table td {
    padding: 0.2rem;
}


.estilos-btn-erase {
	/*cambio para que el botón borrar este alineado con los demás números*/
    /*width: 70px;
    width: 92px;*/
	width: 100%;
    /*cambio para que el botón borrar este alineado con los demás números*/
}

.estilos-table{
    float: left;
    width: 100%;
	margin-bottom: 30px;
    max-height: 250px;
    min-height: 140px;
    overflow-y: scroll;
}
#divPaymentSimulator{
	font-style: normal;
	font-size: 13px;
	padding-left: 5px;
}

#divPaymentSimulator .cardnumber .col-xs-2, #divPaymentSimulator .cardnumber .col-lg-2, 
#divPaymentSimulator .cardnumber .col-md-3, #divPaymentSimulator .cardnumber .col-xs-3,
#divPaymentSimulator .cardnumber .col-lg-1 {
    padding-left: 2px;
    padding-right: 2px;
	float: left;
}
#divPaymentSimulator .cardnumber input[type=text] {
    font-size:13px;
    padding-left: 5px;
    width: 90%;
}
#divPaymentSimulator input[type=text].estilos-number, #divPaymentSimulator input[type=password].estilos-password {
    font-size:13px;
}

#divPaymentSimulator .row.cardnumber {
    margin-left: 10%;
}
 
.box #estilos-div-credits small p {
    line-height: 1.4;
}
form #divPaymentSimulator .form-group.input-field label {
    color: #333;
    font-weight: bold;
    left: 0;
    line-height: 1.8;
}
#divPaymentSimulator .form-group.input-field {
    margin-top: 0;
    margin-bottom: 15px;
}
#divPaymentSimulator #estilos-btn-clean.material.btn i {
    font-size: 1.2rem;
    margin-right: 0;
    line-height: 30px;
}
#divPaymentSimulator #estilos-btn-clean.material.btn.btn-floating  {
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.estilos-card-number{
    border: none;
    border-bottom: 2px solid #CCC;
    padding: 1px;
}
.estilos-card-number:focus{
    outline: none;
    border-bottom: 2px solid green;
}
#divPaymentSimulator .btn-small-blue{
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #117a8b;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #138496;
    color: white;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
#divPaymentSimulator .btn-small-dark{
    font-size:12px;
    display: inline-block;
    margin-right: 0.3125rem;
    /*background: #e6e7e6;
    color: #8f9899;*/
	background: #6D6D76;
	color: #FFFFFF;
    height:18px;
    padding: 6px 12px;
    font-family: "Roboto", Helvetica, sans-serif;
    border: 1px solid #e6e7e6;
    font-weight: bold;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px;
    text-overflow: clip;
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

 
#estilos-step-1 .btn-light-red{
    /*color: white;*/
    color: #8c8c8c;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    /*padding: 5px 10px 5px 10px;*/
    width: 20px;
    height: 10px;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
	display: inline-block;
    /*background: red;*/
}
#divPaymentSumary{
    font-size: 12px;
}
#divPaymentSumary #estilos-div-credits p{
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
}
#divPaymentSumary #estilos-div-credits .small-message label{
    font-size: 10px;
    font-family: "Roboto",sans-serif;
}
#divPaymentSumary #estilos-div-credits .small-message p{
    font-size: 10px;
    font-family: "Roboto",sans-serif;
}
#message_error {
    margin: 20px 0;
    color: red;
    border: 2px solid #fd0000;
    padding: 10px;
    display: none;
}
#message_advertencia {
    margin: 20px 0;
    color: #ff7800;
    border: 2px solid #ff7800;
    padding: 10px;
    display: none;
}
#bg_mask {
    position: absolute;
    top: 0;
    right: 0;  bottom: 0;
    left: 0;
    margin: auto;
    margin-top: 0px;
    background: #000000;
    z-index: 0;
    visibility: hidden;
    font-size: 13px;
    /*padding-right: 30px;
    padding-left: 30px;*/
	padding-right: 10px;
    padding-left: 10px;
    opacity: 0.2;
}
#bg_mask-loader{
    margin-top: 50%;
    text-align: center;
    font-size: 60px;
    color: #ffffff;
}
@media (min-width: 767px) {
	.estilos-card-number{
		min-width: 80px;
	}
}
.stepLabel {
	font-size: 18px;
	font-weight: 200px;
	/*background: #F2004B;*/
	background: rgba(242,0,77,1);
	background: -moz-linear-gradient(left, rgba(242,0,77,1) 0%, rgba(255,0,21,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,0,77,1)), color-stop(100%, rgba(255,0,21,1)));
	background: -webkit-linear-gradient(left, rgba(242,0,77,1) 0%, rgba(255,0,21,1) 100%);
	background: -o-linear-gradient(left, rgba(242,0,77,1) 0%, rgba(255,0,21,1) 100%);
	background: -ms-linear-gradient(left, rgba(242,0,77,1) 0%, rgba(255,0,21,1) 100%);
	background: linear-gradient(to right, rgba(242,0,77,1) 0%, rgba(255,0,21,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2004d', endColorstr='#ff0015', GradientType=1 );
	color: #FFFFFF;
	padding: 3px 25px 3px 20px;
	border-radius: 0px 65px 65px 0px;
	-moz-border-radius: 0px 65px 65px 0px;
	-webkit-border-radius: 0px 65px 65px 0px;
	border: 0px solid #000000;
}
.stepLabel b {
	color: #FFFFFF;
}
.label-icn {
	padding-left: 10%;
	font-size: 18px;
	font-weight: 600;
	margin-top:2px;
}
.label-icn-red {
	color: #FF130D;
}
.icn-lbl {
    margin-top: -5px;
}
@media (max-width: 767px) {
	#divPaymentSimulator{
		padding-left: 0px;
	}
	.label-icn {
		padding-left: 0;
		text-align: center;
		font-size: 14px;	
	}	
}
#estilos-div-keypad {
	text-align:center;
	margin-left:13%;
}
.btn-estilos {
	background: #E7F0F3;
	font-size: 15px;
	font-weight: 600;
    line-height: 18px;
    padding: 12px 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
	border-radius: 12px 12px 12px 12px;
	-moz-border-radius: 12px 12px 12px 12px;
	-webkit-border-radius: 12px 12px 12px 12px;
	border: 2px solid #A2AAB0;
	outline: 0 !important;
	cursor: pointer;
}

/*loader*/
.faceted-overlay-estiloscard {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(25, 25, 25, 0.78);
    z-index: 1000;
    display: none; }
.faceted-overlay-estiloscard .overlay__inner-estiloscard {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute; }
.faceted-overlay-estiloscard .overlay__content-estiloscard {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); }
.faceted-overlay-estiloscard .spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 7px;
    border-color: rgba(255, 255, 255, 0.05);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid; }

@keyframes spin {
    100% {
        transform: rotate(360deg); } }

.text-loader {
    width: 100%;
    float:left;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-top: -5%;
    text-align: center;"
}

.spinner-div {
    width: 100%;
    float:left;
    text-align: center;
    margin-top: 20px;"
}