

<div class="card text-black w-100 bg-white">
    

    <div class="card-body">
      <div class="card-group">
        <div class="card text-black bg-white mb-3">
          <img src="../assets/img/raya.jpg" class="card-img-top" alt="...">
          
          <div>
            <h3 class="title">
                <a>
                    Sueter de rayas
                </a>
            </h3>
        </div>
        
        <span class="price">
                            <span class="newprice text-center">
                $409.00 MXN
            </span>
            </span>
            <div class="add-to-cart" style="z-index:1;">
                <div style="float: left;
                width: 50%;
                min-height: 25px;
                text-align: center;">
                <select class="product-preview-select-size" id="skus_25762" tabindex="0">
                <option value="0">Tallas</option>
                                                                                                                        <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                            </select>
                </div>
                <div style="float: left;
                width: 50%;
                min-height: 25px;
                border: 0;
                text-align: center;
                font-size: 12px">
                <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
                cursor: pointer;
                width: 100%;
                color: #fff;
                background: #000;
                padding: 5px 10px;
                letter-spacing: .4px;
                border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
                <span>Agregar</span>
                </button>
                </div>
                </div>
        </div>


        <div class="card text-black bg-white mb-3">
          <img src="../assets/img/de.jpg" class="card-img-top" alt="...">
          
        <div>
          <h3 class="title">
              <a>
                  Blusa 
              </a>
          </h3>
      </div>
      
      <span class="price">
                          <span class="newprice text-center">
              $179.00 MXN
          </span>
          </span>
          <div class="add-to-cart" style="z-index:1;">
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            text-align: center;">
            <select class="product-preview-select-size" id="skus_25762" tabindex="0">
            <option value="0">Tallas</option>
                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                        </select>
            </div>
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            border: 0;
            text-align: center;
            font-size: 12px">
            <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
            cursor: pointer;
            width: 100%;
            color: #fff;
            background: #000;
            padding: 5px 10px;
            letter-spacing: .4px;
            border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
            <span>Agregar</span>
            </button>
            </div>
            </div>
      </div>
        <div class="card text-black bg-white mb-3">
          <img src="../assets/img/jum.jpg" class="card-img-top" alt="...">
          
        <div>
          <h3 class="title">
              <a>
                  Jump
              </a>
          </h3>
      </div>
      
      <span class="price">
                          <span class="newprice text-center">
              $129.00 MXN
          </span>
          </span>
          <div class="add-to-cart" style="z-index:1;">
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            text-align: center;">
            <select class="product-preview-select-size" id="skus_25762" tabindex="0">
            <option value="0">Tallas</option>
                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                        </select>
            </div>
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            border: 0;
            text-align: center;
            font-size: 12px">
            <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
            cursor: pointer;
            width: 100%;
            color: #fff;
            background: #000;
            padding: 5px 10px;
            letter-spacing: .4px;
            border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
            <span>Agregar</span>
            </button>
            </div>
            </div>
      </div>
        <div class="card text-black bg-white mb-3">
          <img src="../assets/img/jean.jpg" class="card-img-top" alt="...">
          
        <div>
          <h3 class="title">
              <a>
                  Jeans
              </a>
          </h3>
      </div>
      
      <span class="price">
                          <span class="newprice text-center">
              $1309.00 MXN
          </span>
          </span>
          <div class="add-to-cart" style="z-index:1;">
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            text-align: center;">
            <select class="product-preview-select-size" id="skus_25762" tabindex="0">
            <option value="0">Tallas</option>
                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                        </select>
            </div>
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            border: 0;
            text-align: center;
            font-size: 12px">
            <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
            cursor: pointer;
            width: 100%;
            color: #fff;
            background: #000;
            padding: 5px 10px;
            letter-spacing: .4px;
            border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
            <span>Agregar</span>
            </button>
            </div>
            </div>
      </div>
      <div class="card text-black bg-white mb-3">
        <img src="../assets/img/bra.jpg" class="card-img-top" alt="...">
        
      <div>
        <h3 class="title">
            <a>
                    Brasiere
            </a>
        </h3>
    </div>
    
    <span class="price">
                        <span class="newprice text-center">
            $59.00 MXN
        </span>
        </span>
        <div class="add-to-cart" style="z-index:1;">
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            text-align: center;">
            <select class="product-preview-select-size" id="skus_25762" tabindex="0">
            <option value="0">Tallas</option>
                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                        </select>
            </div>
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            border: 0;
            text-align: center;
            font-size: 12px">
            <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
            cursor: pointer;
            width: 100%;
            color: #fff;
            background: #000;
            padding: 5px 10px;
            letter-spacing: .4px;
            border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
            <span>Agregar</span>
            </button>
            </div>
            </div>
    </div>
    <div class="card text-black bg-white mb-3">
        <img src="../assets/img/jeaa.jpg" class="card-img-top" alt="...">
        
      <div>
        <h3 class="title">
            <a>
                Jeans Negro
            </a>
        </h3>
    </div>
    
    <span class="price">
                        <span class="newprice text-center">
            $429.00 MXN
        </span>
        </span>
        <div class="add-to-cart" style="z-index:1;">
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            text-align: center;">
            <select class="product-preview-select-size" id="skus_25762" tabindex="0">
            <option value="0">Tallas</option>
                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                        </select>
            </div>
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            border: 0;
            text-align: center;
            font-size: 12px">
            <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
            cursor: pointer;
            width: 100%;
            color: #fff;
            background: #000;
            padding: 5px 10px;
            letter-spacing: .4px;
            border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
            <span>Agregar</span>
            </button>
            </div>
            </div>
    </div>
      </div>
    </div>
  </div>

  <div class="card text-black w-100 bg-white">
    <div class="card-body">
      <div class="card-group">
        <div class="card text-black bg-white mb-3">
          <img src="../assets/img/vestido.jpg" class="card-img-top" alt="...">
         
          <div>
            <h3 class="title">
                <a>
                    Vestido
                </a>
            </h3>
        </div>
        
        <span class="price">
                            <span class="newprice text-center">
                $529.00 MXN
            </span>
            </span>
            <div class="add-to-cart" style="z-index:1;">
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            text-align: center;">
            <select class="product-preview-select-size" id="skus_25762" tabindex="0">
            <option value="0">Tallas</option>
                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                        </select>
            </div>
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            border: 0;
            text-align: center;
            font-size: 12px">
            <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
            cursor: pointer;
            width: 100%;
            color: #fff;
            background: #000;
            padding: 5px 10px;
            letter-spacing: .4px;
            border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
            <span>Agregar</span>
            </button>
            </div>
            </div>
        </div>


        <div class="card text-black bg-white mb-3">
          <img src="../assets/img/s.jpg" class="card-img-top" alt="...">
          
        <div>
          <h3 class="title">
              <a>
                  Jean negro
              </a>
          </h3>
      </div>
      
      <span class="price">
                          <span class="newprice text-center">
              $259.00 MXN
          </span>
          </span>
          <div class="add-to-cart" style="z-index:1;">
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            text-align: center;">
            <select class="product-preview-select-size" id="skus_25762" tabindex="0">
            <option value="0">Tallas</option>
                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                        </select>
            </div>
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            border: 0;
            text-align: center;
            font-size: 12px">
            <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
            cursor: pointer;
            width: 100%;
            color: #fff;
            background: #000;
            padding: 5px 10px;
            letter-spacing: .4px;
            border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
            <span>Agregar</span>
            </button>
            </div>
            </div>
      </div>
        <div class="card text-black bg-white mb-3">
          <img src="../assets/img/sk.jpg" class="card-img-top" alt="...">
          
        <div>
          <h3 class="title">
              <a>
                 Jeans Skiny
              </a>
          </h3>
      </div>
      
      <span class="price">
                          <span class="newprice text-center">
              $129.00 MXN
          </span>
          </span>
          <div class="add-to-cart" style="z-index:1;">
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            text-align: center;">
            <select class="product-preview-select-size" id="skus_25762" tabindex="0">
            <option value="0">Tallas</option>
                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                        </select>
            </div>
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            border: 0;
            text-align: center;
            font-size: 12px">
            <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
            cursor: pointer;
            width: 100%;
            color: #fff;
            background: #000;
            padding: 5px 10px;
            letter-spacing: .4px;
            border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
            <span>Agregar</span>
            </button>
            </div>
            </div>
      </div>
        <div class="card text-black bg-white mb-3">
          <img src="../assets/img/b.jpg" class="card-img-top" alt="...">
          
        <div>
          <h3 class="title">
              <a>
                  Boxer para DAMA
              </a>
          </h3>
      </div>
      
      <span class="price">
                          <span class="newprice text-center">
              $189.00 MXN
          </span>
          </span>
          <div class="add-to-cart" style="z-index:1;">
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            text-align: center;">
            <select class="product-preview-select-size" id="skus_25762" tabindex="0">
            <option value="0">Tallas</option>
                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                        </select>
            </div>
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            border: 0;
            text-align: center;
            font-size: 12px">
            <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
            cursor: pointer;
            width: 100%;
            color: #fff;
            background: #000;
            padding: 5px 10px;
            letter-spacing: .4px;
            border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
            <span>Agregar</span>
            </button>
            </div>
            </div>
      </div>
      <div class="card text-black bg-white mb-3">
        <img src="../assets/img/teni.jpg" class="card-img-top" alt="...">
        
      <div>
        <h3 class="title">
            <a>
                Tenis
            </a>
        </h3>
    </div>
    
    <span class="price">
                        <span class="newprice text-center">
            $325.00 MXN
        </span>
        </span>
        <div class="add-to-cart" style="z-index:1;">
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            text-align: center;">
            <select class="product-preview-select-size" id="skus_25762" tabindex="0">
            <option value="0">Tallas</option>
                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                        </select>
            </div>
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            border: 0;
            text-align: center;
            font-size: 12px">
            <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
            cursor: pointer;
            width: 100%;
            color: #fff;
            background: #000;
            padding: 5px 10px;
            letter-spacing: .4px;
            border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
            <span>Agregar</span>
            </button>
            </div>
            </div>
    </div>
    <div class="card text-black bg-white mb-3">
        <img src="../assets/img/depo.jpg" class="card-img-top" alt="...">
        
      <div>
        <h3 class="title">
            <a>
               Tenis deportivos
            </a>
        </h3>
    </div>
    
    <span class="price">
                        <span class="newprice text-center">
            $455.00 MXN
        </span>
        </span>
        <div class="add-to-cart" style="z-index:1;">
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            text-align: center;">
            <select class="product-preview-select-size" id="skus_25762" tabindex="0">
            <option value="0">Tallas</option>
                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                        </select>
            </div>
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            border: 0;
            text-align: center;
            font-size: 12px">
            <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
            cursor: pointer;
            width: 100%;
            color: #fff;
            background: #000;
            padding: 5px 10px;
            letter-spacing: .4px;
            border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
            <span>Agregar</span>
            </button>
            </div>
            </div>
    </div>
      </div>
    </div>
  </div>



