<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Inicio de sesion </h2>
      <h2 class="inactive underlineHover">Registrarse</h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://icon2.cleanpng.com/20180319/epw/kisspng-india-login-computer-icons-emoticon-medicine-user-login-icon-5ab05c8bc2f8d1.4479395815215074677986.jpg" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form >
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="contraseña">
        <button href='https://es.stackoverflow.com' class='btn btn-success' value="">INGRESAR</button>
  
        
      </form>
      
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Olvide contraseña</a>
      </div>
  
    </div>
  </div>
  <a href="/src/app/navbar/navbar.component.html" target="_blank">Mi boton</a>