

<div class="card text-black w-100 bg-white">
    

    <div class="card-body">
      <div class="card-group">
        <div class="card text-black bg-white mb-3">
          <img src="../assets/img/blusa.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <br>
            <div style="float: left;width: 50%;min-height: 25px;text-align: center;">
<select class="product-preview-select-size" id="skus_25762" tabindex="0">
<option value="0">Tallas</option>
<option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>                                                                                                                       <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
 </select>
</div>
</div>
          <div>
            <h3 class="title">
                <a>
                    Blusa Negra 
                </a>
            </h3>
        </div>
        
        <span class="price">
                            <span class="newprice text-center">
                $129.00 MXN
            </span>
            </span>
        </div>


        <div class="card text-black bg-white mb-3">
          <img src="../assets/img/cinturon.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <br>
          <div style="float: left;width: 50%;min-height: 25px;text-align: center;">
<select class="product-preview-select-size" id="skus_25762" tabindex="0">
<option value="0">Tallas</option>
<option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                  <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>                                                                                                                       <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
</select>
</div>
</div>
        <div>
          <h3 class="title">
              <a>
                  Blusa Negra 
              </a>
          </h3>
      </div>
      
      <span class="price">
                          <span class="newprice text-center">
              $129.00 MXN
          </span>
          </span>
      </div>
        <div class="card text-black bg-white mb-3">
          <img src="../assets/img/playera.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <br>
          <div style="float: left;width: 50%;min-height: 25px;text-align: center;">
<select class="product-preview-select-size" id="skus_25762" tabindex="0">
<option value="0">Tallas</option>
<option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                  <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>                                                                                                                       <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
</select>
</div>
</div>
        <div>
          <h3 class="title">
              <a>
                  Blusa Negra 
              </a>
          </h3>
      </div>
      
      <span class="price">
                          <span class="newprice text-center">
              $129.00 MXN
          </span>
          </span>
      </div>
        <div class="card text-black bg-white mb-3">
          <img src="../assets/img/camisa-jpg.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <br>
          <div style="float: left;width: 50%;min-height: 25px;text-align: center;">
<select class="product-preview-select-size" id="skus_25762" tabindex="0">
<option value="0">Tallas</option>
<option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                  <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>                                                                                                                       <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
</select>
</div>
</div>
        <div>
          <h3 class="title">
              <a>
                  Blusa Negra
              </a>
          </h3>
      </div>
      
      <span class="price">
                          <span class="newprice text-center">
              $129.00 MXN
          </span>
          </span>
      </div>
      <div class="card text-black bg-white mb-3">
        <img src="../assets/img/camisa-jpg.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <br>
        <div style="float: left;width: 50%;min-height: 25px;text-align: center;">
<select class="product-preview-select-size" id="skus_25762" tabindex="0">
<option value="0">Tallas</option>
<option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>                                                                                                                       <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
</select>
</div>
</div>
      <div>
        <h3 class="title">
            <a>
                Blusa Negra 
            </a>
        </h3>
    </div>
    
    <span class="price">
                        <span class="newprice text-center">
            $129.00 MXN
        </span>
        </span>
    </div>
    <div class="card text-black bg-white mb-3">
        <img src="../assets/img/camisa-jpg.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <br>
        <div style="float: left;width: 50%;min-height: 25px;text-align: center;">
<select class="product-preview-select-size" id="skus_25762" tabindex="0">
<option value="0">Tallas</option>
<option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>                                                                                                                       <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
</select>
</div>
</div>
      <div>
        <h3 class="title">
            <a>
                Blusa Negra 
            </a>
        </h3>
    </div>
    
    <span class="price">
                        <span class="newprice text-center">
            $129.00 MXN
        </span>
        </span>
    </div>
      </div>
    </div>
  </div>

  <div class="card text-black w-100 bg-white">
    <div class="card-body">
      <div class="card-group">
        <div class="card text-black bg-white mb-3">
          <img src="../assets/img/blusa.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <br>
            <div style="float: left;width: 50%;min-height: 25px;text-align: center;">
<select class="product-preview-select-size" id="skus_25762" tabindex="0">
<option value="0">Tallas</option>
<option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>                                                                                                                       <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
 </select>
</div>
</div>
          <div>
            <h3 class="title">
                <a>
                    Blusa Negra 
                </a>
            </h3>
        </div>
        
        <span class="price">
                            <span class="newprice text-center">
                $129.00 MXN
            </span>
            </span>
        </div>


        <div class="card text-black bg-white mb-3">
          <img src="../assets/img/cinturon.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <br>
          <div style="float: left;width: 50%;min-height: 25px;text-align: center;">
<select class="product-preview-select-size" id="skus_25762" tabindex="0">
<option value="0">Tallas</option>
<option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                  <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>                                                                                                                       <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
</select>
</div>
</div>
        <div>
          <h3 class="title">
              <a>
                  Blusa Negra 
              </a>
          </h3>
      </div>
      
      <span class="price">
                          <span class="newprice text-center">
              $129.00 MXN
          </span>
          </span>
      </div>
        <div class="card text-black bg-white mb-3">
          <img src="../assets/img/playera.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <br>
          <div style="float: left;width: 50%;min-height: 25px;text-align: center;">
<select class="product-preview-select-size" id="skus_25762" tabindex="0">
<option value="0">Tallas</option>
<option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                  <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>                                                                                                                       <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
</select>
</div>
</div>
        <div>
          <h3 class="title">
              <a>
                  Blusa Negra 
              </a>
          </h3>
      </div>
      
      <span class="price">
                          <span class="newprice text-center">
              $129.00 MXN
          </span>
          </span>
      </div>
        <div class="card text-black bg-white mb-3">
          <img src="../assets/img/camisa-jpg.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <br>
          <div style="float: left;width: 50%;min-height: 25px;text-align: center;">
<select class="product-preview-select-size" id="skus_25762" tabindex="0">
<option value="0">Tallas</option>
<option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                  <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>                                                                                                                       <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
</select>
</div>
</div>
        <div>
          <h3 class="title">
              <a>
                  Blusa Negra 
              </a>
          </h3>
      </div>
      
      <span class="price">
                          <span class="newprice text-center">
              $129.00 MXN
          </span>
          </span>
      </div>
      <div class="card text-black bg-white mb-3">
        <img src="../assets/img/camisa-jpg.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <br>
        <div style="float: left;width: 50%;min-height: 25px;text-align: center;">
<select class="product-preview-select-size" id="skus_25762" tabindex="0">
<option value="0">Tallas</option>
<option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>                                                                                                                       <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
</select>
</div>
</div>
      <div>
        <h3 class="title">
            <a>
                Blusa Negra 
            </a>
        </h3>
    </div>
    
    <span class="price">
                        <span class="newprice text-center">
            $129.00 MXN
        </span>
        </span>
    </div>
    <div class="card text-black bg-white mb-3">
        <img src="../assets/img/camisa-jpg.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <br>
        <div style="float: left;width: 50%;min-height: 25px;text-align: center;">
<select class="product-preview-select-size" id="skus_25762" tabindex="0">
<option value="0">Tallas</option>
<option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>                                                                                                                       <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
</select>
</div>
</div>
      <div>
        <h3 class="title">
            <a>
                Blusa Negra 
            </a>
        </h3>
    </div>
    
    <span class="price">
                        <span class="newprice text-center">
            $129.00 MXN
        </span>
        </span>
    </div>
      </div>
    </div>
  </div>



