
<br>
<h1>Aquí encuentra las mejores marcas de ropa, Para hacer deporte  <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-brightness-high" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
</svg></h1>

<br>

<div class="card text-black w-100 bg-white">
  <div class="card-body">
    <div class="card-group">
      <div class="card text-black bg-white mb-3">
        <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto:sensitive,fl_lossy/d06126fbff8242c581aca6cd0128898d_9366/Playera_FreeLift_Prime_Naranja_BK6090_01_laydown.jpg" class="card-img-top" alt="...">
       
        <div>
          <h3 class="title">
              <a>
                Adidas Polo BK6090 Freelift Prime Energy 
              </a>
          </h3>
      </div>
      
      <span class="price">
                          <span class="newprice text-center">
              $129.00 MXN
          </span>
          </span>
          <div class="add-to-cart" style="z-index:1;">
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            text-align: center;">
            <select class="product-preview-select-size" id="skus_25762" tabindex="0">
            <option value="0">Tallas</option>
                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                        </select>
            </div>
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            border: 0;
            text-align: center;
            font-size: 12px">
            <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
            cursor: pointer;
            width: 100%;
            color: #fff;
            background: #000;
            padding: 5px 10px;
            letter-spacing: .4px;
            border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
            <span>Agregar</span>
            </button>
            </div>
            </div>
      </div>


      <div class="card text-black bg-white mb-3">
        <img src="https://images-na.ssl-images-amazon.com/images/I/61HMjH8EPEL._AC_UX522_.jpg" class="card-img-top" alt="...">
        
      <div>
        <h3 class="title">
            <a>
              Umbro Polo Hombre UX64629U-EYN
            </a>
        </h3>
    </div>
    
    <span class="price">
                        <span class="newprice text-center">
            $150.00 MXN
        </span>
        </span>
        <div class="add-to-cart" style="z-index:1;">
          <div style="float: left;
          width: 50%;
          min-height: 25px;
          text-align: center;">
          <select class="product-preview-select-size" id="skus_25762" tabindex="0">
          <option value="0">Tallas</option>
                                                                                                                  <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                              <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                              <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                      </select>
          </div>
          <div style="float: left;
          width: 50%;
          min-height: 25px;
          border: 0;
          text-align: center;
          font-size: 12px">
          <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
          cursor: pointer;
          width: 100%;
          color: #fff;
          background: #000;
          padding: 5px 10px;
          letter-spacing: .4px;
          border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
          <span>Agregar</span>
          </button>
          </div>
          </div>
    </div>
      <div class="card text-black bg-white mb-3">
        <img src="https://www.estilos.com.pe/46559-home_default/adidas-casaca-hombre-ce8848-fef-3s-trk-top.jpg
        " class="card-img-top" alt="...">
        
      <div>
        <h3 class="title">
            <a>
              Adidas Casaca Hombre CE8848 FEF 3S TRK Top 
            </a>
        </h3>
    </div>
    
    <span class="price">
                        <span class="newprice text-center">
            $280.00 MXN
        </span>
        </span>
        <div class="add-to-cart" style="z-index:1;">
          <div style="float: left;
          width: 50%;
          min-height: 25px;
          text-align: center;">
          <select class="product-preview-select-size" id="skus_25762" tabindex="0">
          <option value="0">Tallas</option>
                                                                                                                  <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                              <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                              <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                      </select>
          </div>
          <div style="float: left;
          width: 50%;
          min-height: 25px;
          border: 0;
          text-align: center;
          font-size: 12px">
          <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
          cursor: pointer;
          width: 100%;
          color: #fff;
          background: #000;
          padding: 5px 10px;
          letter-spacing: .4px;
          border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
          <span>Agregar</span>
          </button>
          </div>
          </div>
    </div>
      <div class="card text-black bg-white mb-3">
        <img src="https://www.estilos.com.pe/46467-home_default/reebok-polos-cd7702-re-ss-tee.jpg" class="card-img-top" alt="...">
        
      <div>
        <h3 class="title">
            <a>
              Reebok Polerón Hombre CE3921 El Marble Group CR
            </a>
        </h3>
    </div>
    
    <span class="price">
                        <span class="newprice text-center">
            $500.00 MXN
        </span>
        </span>
        <div class="add-to-cart" style="z-index:1;">
          <div style="float: left;
          width: 50%;
          min-height: 25px;
          text-align: center;">
          <select class="product-preview-select-size" id="skus_25762" tabindex="0">
          <option value="0">Tallas</option>
                                                                                                                  <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                              <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                              <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                      </select>
          </div>
          <div style="float: left;
          width: 50%;
          min-height: 25px;
          border: 0;
          text-align: center;
          font-size: 12px">
          <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
          cursor: pointer;
          width: 100%;
          color: #fff;
          background: #000;
          padding: 5px 10px;
          letter-spacing: .4px;
          border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
          <span>Agregar</span>
          </button>
          </div>
          </div>
    </div>
    <div class="card text-black bg-white mb-3">
      <img src="https://www.estilos.com.pe/46457-medium_default/reebok-polos-cw0804-run-graphic-tee.jpg" class="card-img-top" alt="...">
      
    <div>
      <h3 class="title">
          <a>
            Reebok Polo CW0804 Run Graphic Tee 
          </a>
      </h3>
  </div>
  
  <span class="price">
                      <span class="newprice text-center">
          $300.00 MXN
      </span>
      </span>
      <div class="add-to-cart" style="z-index:1;">
        <div style="float: left;
        width: 50%;
        min-height: 25px;
        text-align: center;">
        <select class="product-preview-select-size" id="skus_25762" tabindex="0">
        <option value="0">Tallas</option>
                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                            <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                            <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                    </select>
        </div>
        <div style="float: left;
        width: 50%;
        min-height: 25px;
        border: 0;
        text-align: center;
        font-size: 12px">
        <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
        cursor: pointer;
        width: 100%;
        color: #fff;
        background: #000;
        padding: 5px 10px;
        letter-spacing: .4px;
        border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
        <span>Agregar</span>
        </button>
        </div>
        </div>
  </div>
  
</div>

<div class="card text-black w-100 bg-white">
  <div class="card-body">
    <div class="card-group">
      <div class="card text-black bg-white mb-3">
        <img src="https://ae01.alicdn.com/kf/HTB1ff0HJFXXXXaFXpXXq6xXFXXXB/2015-SUBIDA-Crossfit-Culturismo-Camiseta-de-Los-Hombres-de-Impresi-n-camiseta-masculina-de-manga-Corta.jpg
        " class="card-img-top" alt="...">
        
        <div>
          <h3 class="title">
              <a>
                  
                One Polera Hombre Gym
              </a>
          </h3>
      </div>
      
      <span class="price">
                          <span class="newprice text-center">
              $250.00 MXN
          </span>
          </span>
          <div class="add-to-cart" style="z-index:1;">
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            text-align: center;">
            <select class="product-preview-select-size" id="skus_25762" tabindex="0">
            <option value="0">Tallas</option>
                                                                                                                    <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                        </select>
            </div>
            <div style="float: left;
            width: 50%;
            min-height: 25px;
            border: 0;
            text-align: center;
            font-size: 12px">
            <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
            cursor: pointer;
            width: 100%;
            color: #fff;
            background: #000;
            padding: 5px 10px;
            letter-spacing: .4px;
            border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
            <span>Agregar</span>
            </button>
            </div>
            </div>
      </div>


      <div class="card text-black bg-white mb-3">
        <img src="https://d4jmoyz216km1.cloudfront.net/wp-content/uploads/2018/11/30123138/02-0026N-2-e1553970698571.jpg" class="card-img-top" alt="...">
        
      <div>
        <h3 class="title">
            <a>
                Blusa Negra 
            </a>
        </h3>
    </div>
    
    <span class="price">
                        <span class="newprice text-center">
            $129.00 MXN
        </span>
        </span>
        <div class="add-to-cart" style="z-index:1;">
          <div style="float: left;
          width: 50%;
          min-height: 25px;
          text-align: center;">
          <select class="product-preview-select-size" id="skus_25762" tabindex="0">
          <option value="0">Tallas</option>
                                                                                                                  <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                              <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                              <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                      </select>
          </div>
          <div style="float: left;
          width: 50%;
          min-height: 25px;
          border: 0;
          text-align: center;
          font-size: 12px">
          <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
          cursor: pointer;
          width: 100%;
          color: #fff;
          background: #000;
          padding: 5px 10px;
          letter-spacing: .4px;
          border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
          <span>Agregar</span>
          </button>
          </div>
          </div>
    </div>
      <div class="card text-black bg-white mb-3">
        <img src="https://sc01.alicdn.com/kf/HTB1P8U_Kf9TBuNjy1zbq6xpepXaX/233015881/HTB1P8U_Kf9TBuNjy1zbq6xpepXaX.jpg
        " class="card-img-top" alt="...">
       
      <div>
        <h3 class="title">
            <a>
              Polo Hombre Tee Shirt Sweat 
            </a>
        </h3>
    </div>
    
    <span class="price">
                        <span class="newprice text-center">
            $129.00 MXN
        </span>
        </span>
        <div class="add-to-cart" style="z-index:1;">
          <div style="float: left;
          width: 50%;
          min-height: 25px;
          text-align: center;">
          <select class="product-preview-select-size" id="skus_25762" tabindex="0">
          <option value="0">Tallas</option>
                                                                                                                  <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                              <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                              <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                      </select>
          </div>
          <div style="float: left;
          width: 50%;
          min-height: 25px;
          border: 0;
          text-align: center;
          font-size: 12px">
          <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
          cursor: pointer;
          width: 100%;
          color: #fff;
          background: #000;
          padding: 5px 10px;
          letter-spacing: .4px;
          border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
          <span>Agregar</span>
          </button>
          </div>
          </div>
    </div>
      <div class="card text-black bg-white mb-3">
        <img src="https://www.estilos.com.pe/73433-home_default/one-pantalon-de-buzo-hombre-basic-oaks-ba-tt.jpg" class="card-img-top" alt="...">
        
      <div>
        <h3 class="title">
            <a>
              Pantalón De Buzo Hombre Basic Oaks 
            </a>
        </h3>
    </div>
    
    <span class="price">
                        <span class="newprice text-center">
            $300.00 MXN
        </span>
        </span>
        <div class="add-to-cart" style="z-index:1;">
          <div style="float: left;
          width: 50%;
          min-height: 25px;
          text-align: center;">
          <select class="product-preview-select-size" id="skus_25762" tabindex="0">
          <option value="0">Tallas</option>
                                                                                                                  <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                              <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                              <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                      </select>
          </div>
          <div style="float: left;
          width: 50%;
          min-height: 25px;
          border: 0;
          text-align: center;
          font-size: 12px">
          <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
          cursor: pointer;
          width: 100%;
          color: #fff;
          background: #000;
          padding: 5px 10px;
          letter-spacing: .4px;
          border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
          <span>Agregar</span>
          </button>
          </div>
          </div>
    </div>
    <div class="card text-black bg-white mb-3">
      <img src="https://i.pinimg.com/originals/35/cc/3c/35cc3c526a0ce00d1d02b1af763c0446.jpg" class="card-img-top" alt="...">
      
    <div>
      <h3 class="title">
          <a>
            Mo Athletic Hombre Tank Top
          </a>
      </h3>
  </div>
  
  <span class="price">
                      <span class="newprice text-center">
          $130.00 MXN
      </span>
      </span>
      <div class="add-to-cart" style="z-index:1;">
        <div style="float: left;
        width: 50%;
        min-height: 25px;
        text-align: center;">
        <select class="product-preview-select-size" id="skus_25762" tabindex="0">
        <option value="0">Tallas</option>
                                                                                                                <option class="option" data-product="25762" data-color="Negro" data-size="CHI" id="112701" value="112701">CHI - Negro</option>
                                                                                                                                                                            <option class="option" data-product="25762" data-color="Negro" data-size="MED" id="112703" value="112703">MED - Negro</option>
                                                                                                                                                                            <option class="option" data-product="25762" data-color="Negro" data-size="GDE" id="112702" value="112702">GDE - Negro</option>
                                                                    </select>
        </div>
        <div style="float: left;
        width: 50%;
        min-height: 25px;
        border: 0;
        text-align: center;
        font-size: 12px">
        <button class="add-product" data-product="25762" data-position="0" type="button" style="font-size: 12px;
        cursor: pointer;
        width: 100%;
        color: #fff;
        background: #000;
        padding: 5px 10px;
        letter-spacing: .4px;
        border: 0;" onclick="addItemCart( $('#skus_25762').val() )" tabindex="0">
        <span>Agregar</span>
        </button>
        </div>
        </div>
  </div>
  