<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Inicio de sesion </h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://cdn.icon-icons.com/icons2/621/PNG/512/user-male-black-shape_icon-icons.com_56875.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form >
        <input type="text"  class="fadeIn second"  placeholder="Usuario">
        <input type="text"  class="fadeIn third"  placeholder="contraseña">
        <button class="btn btn-success">ingresar</button>
  
        
      </form>
      
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover">Olvide contraseña</a>
      </div>
  
    </div>
  </div>
